Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans - A database is a server that allows users to store, retrieve, update, and manage large amounts of data efficiently, as data can be huge in size that cannot be stored in personal device memory due to size complexitymthat's why we use database to store users required information.
The diierence between SQL and noSQL is
SQL stands for structured query language which is used to manage relational database that store data in structured way i.e in table format. Where attributes hold values based on their data type. 
Nosql is a type of query language that is unstructured where the data is stored in document json format means in dictionary format called as collection where user can set diffrent values data type of an different attribute as per needed.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans - DDL is a type of sql command which is used to define the structure of the database here the structure is in table format in this type we define CREATE, ALTER, DROP and TRUNCATE 
CREATE is  mostly used for creation of new data bases and  tables of respective databases.
Alter is used to makes changes in the schema such as adding or removing coloums, renaming table or column, modifying data type or data type length, adding or removing constraints for primary and foreign key.
DROP is used to delete the entire schema where ever row and column will be deleted
TRUNCATE is used to delete every rows in the table only leaving behind the columns names and also there is no recovery of the records as after truncate it does not create log file.

For example we have to create a database of student and create a studnet table.

--CREATE DATABASE IF NOT EXISTS student_db;

--CREATE TABLE IF NOT EXISTS student_db.student_table(name VARCHAR(30),age INT,course VARCHAR(30));

now we have a database of student_db and a table also some values and attributes inserted in it(name,age,course) and now we have to alter them suppose adding a new attribute,

--ALTER Table st_tb ADD phone_num;

now if we do truncate all the rows will be deleted.

--TRUNCATE student_table;

drop will delete the entire table

--DROP TABLE student_table;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans - DML is done after DDL once  creation of schema is done now we have to provide specific values to specific attributes in the table for that we use dml it has commands like INSERT,UPDATE, DELETE 
INSERT is used to insert the values for the attributes in the table.
UPDATE is used to change the values of the data i.e specific row value like i have a attribute of salary and now i have to increment the salary so we can we update command even we can update salary for particular employe using WHERE.
DELETE is used to delete a specific row or the entire rows of the table it is slower than truncate as it creates log file of the deleted rows.

Inserting values-
--INSERT INTO student_table VALUES('aditya',23,'data science') - from ddl example

Updating course as data science master 2.0-
--UPDATE student_table set course = data science master 2.0;

Deleting from table-
--DELETE FROM student_table;

Q4. What is DQL? Explain SELECT with an example.

Ans - DQL is a type of sql that is used to retrieve data from the table we can retrieve the entire data or particular attributes data by using SELECT.

If we want to retrive every information from the table we use-

--SELECT * FROM table_name;

or from particulat attribute-

--SELECT attribute_name FROM table_name;

Q5. Explain Primary Key and Foreign Key.

Ans - Primary key is a unique id that is given to a specific attribute so that if values of two or more attributes are same then it becomes difficult to identify them so that's why we use a primary key that is unique to every values of the attribute.

Foreign key is an attribute or a set of attributes which takes refrence of a primary key of same table or another table(if they are related to each other) supose i have 2 tables related to each other and one table has an  attribute as primary key then using that attribute as a reference we can create foreign key in another table

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
mydb = mysql.connector.connect
(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()
mycursor.execute()


Cursor() is used to create cursor object which allows users to interact with the database and execute queries. It acts as an pointers which allows users to insert,fetch data,or delete records from the database.

Execute() is used for writing sql statements like create, insert, delete, update this method is called on cursor object and the sql query is executed. -->

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans - 
The order is 

1.SELECT-used to select entire values or specific values of attributes. 

2.FROM-used to select from table_name.

3.WHERE-used to set certain constraints.

4.GROUP BY-used to group the result with one or more coloums. 

5.HAVING-used to further aggregate the result got from group by.

6.ORDER BY-used to arrange the result in ascending or descending order.